<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>À propos de l'événement</h2>
          <p> 17ème festival de guitare et instruments à cordes pincées.
               Il a pour objectif d’être un carrefour de rencontres entre public,
                musiciens amateurs, passionnés de musique, luthiers et artistes invités.
                 Au fil des années, il a accueilli les plus célèbres artistes en la matière,
                  allant d’Anna Vidovic à Thomas Dutronc ou de Tommy Emmanuel à Roland Dyens et bien d’autres.</p>
        </div>
        <div class="col-lg-3">
          <h3>Où</h3>
          <p>Cité de la Culture, Tunis</p>
        </div>
        <div class="col-lg-3">
          <h3>Quand</h3>
          <p>Du lundi au mercredi<br>10-12 December</p>
        </div>
      </div>
    </div>
  </section>