.card{
    margin: 75px 0px 0px 0px;
}
button{
  background-color: darkgoldenrod;
}
  button:hover , button:checked , button:active , button:visited , button:focus{
    margin-right: 273px;
    background-color: white;
    color: darkgoldenrod;
    border: 2px;
    color: black;
    border: 1px;

  }
