<legend class="text-center" style="color:darkgoldenrod; font-weight: bolder; font-style: italic;margin-left: -60px;">Rendez-vous </legend>

<div
class="p-5 text-center bg-image"
style="
  background-image: url('/assets/images/mariage.jpg');
  height: 500px;
"
>
<div>
<p>Pour prendre un rendez-vous, priére de remplir ce formulaire, on vous contactera le plutot possible.</p>
<h6>le type de votre événement :</h6>
<select class="form-control form-control-lg">

    <option>Mariage</option>
    <option>Conférence</option>
    <option>Fiançailles</option>
  </select>
 
 
  <h6>le Budget qui vous correspond :</h6>
<select class="form-control form-control-lg">

    <option>moins de 1000dt</option>
    <option>1000dt-5000dt</option>
    <option>plus de 5000DT</option>
  </select>
  <form>
    <div>
      <h6 for="bday"> la date de votre événement :</h6>
      <input type="date" id="bday" name="bday">
    </div>
  </form>

 
  <form>
    <div class="form-row">
      <h6>le Lieu de votre événement:</h6>
      <div class="col-7">
        <input type="text" class="form-control" placeholder="gouvernorat">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ville">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Code">
      </div>
    </div>
  </form> 
</div>

<div>  <button [routerLink]="'/register'" type="submit" class="btn btn-primary mb-2">Prendre un RDV</button></div>
</div>