<section id="rendez">

  <div class="container">

    <div class="section-header">
      <h2>Rendez-Vous</h2>
    </div>
  <div>
  <p>Pour prendre un rendez-vous, priére de remplir ce formulaire, on vous contactera le plutot possible.</p>
  <h6>le type de votre événement :</h6>
  <select class="form-control form-control-lg">

      <option>Mariage</option>
      <option>Conférence</option>
      <option>Fiançailles</option>
    </select>
  
  
    <h6>le Budget qui vous correspond :</h6>
  <select class="form-control form-control-lg">

      <option>moins de 1000dt</option>
      <option>1000dt-5000dt</option>
      <option>plus de 5000DT</option>
    </select>
    <form>
      <div>
        <h6 for="bday"> la date de votre événement :</h6>
        <input type="date" id="bday" name="bday">
      </div>
    </form>

  
    <form>
      <div class="form-row">
        <h6>le Lieu de votre événement:</h6>
        <div class="col-7">
          <input type="text" class="form-control" placeholder="gouvernorat">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="ville">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Code">
        </div>
      </div>
    </form> 
  </div>

  <div class="text-center">
    <button [routerLink]="'/register'" type="submit" class="w-100 btn btn-lg btn-primary">Prendre un RDV</button></div>
  </div>
</section>