<section id="buy-tickets" class="section-with-bg wow fadeInUp">
  <div class="container">

    <div class="section-header">
      <h2>Service</h2>
      <p>Vous avez un événement et recherchez un professionnel en Organisateur Événementiel ?
        Maintenant que vous avez une idée de la fourchette de prix, trouvons ensemble le bon Organisateur Événementiel pour vous...</p>
    </div>

    <div class="row">


            <div class="col-lg-4">
              <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                
                  <h5 class="card-title text-muted text-uppercase text-center">Traiteur</h5>
                  <h2 class="card-price text-center"> 500 DT<small class="text-muted">/à partir</small></h2>
                  <hr>
                  
                  <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>les serveurs inclus</li>
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>50 assiettes</li>
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>50 couverts</li>
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>Animation gratuite</li>
                  </ul>
                  <hr>
                  <div class="text-center">
                  <button  (click)="toContact()" routerLinkActive="active" routerLink="/contact" class="w-100 btn btn-lg btn-primary">Contact us</button>
                  </div>
                </div>
              </div>
              </div>


              <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">Décoration</h5>
                  <h6 class="card-price text-center"> 350 DT<small class="text-muted">/à partir</small></h6>
                  <hr>
                
            
                  <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>20 tables décorées</li>
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>40 chaises </li>
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>un organiste inclus</li>
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>déco des tables </li>
                  </ul>
                  <hr>
                  <div class="text-center">
                  <button  (click)="toContact()" routerLinkActive="active" routerLink="/contact" type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
                </div>
                </div>
              </div>
              </div>


              <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">Eclairage</h5>
                    <h6 class="card-price text-center"> 200 DT<small class="text-muted">/à partir</small></h6>
                  <hr>

                  <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>2 projecteurs</li>
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>10m girllandes</li>
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>6 spots</li>
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>1 jeux de lumiéres</li>
                  </ul>
                  <hr>
                  <div class="text-center">

                  <button (click)="toContact()" routerLinkActive="active" routerLink="/contact" type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>

                </div>
              </div>
              </div>
            </div>
          
        </div>
      </div>

</section>