<section id="hotels" class="section-with-bg wow fadeInUp">

    <div class="container">

        <div class="section-header">
          <h2>Événement</h2>
          <p>Voici quelques Événements</p>
        </div>

        <div class="row">
  
                    <div *ngFor = "let event of eventlist; index as eventId" class ="col-lg-4 col-md-6">

                        <div class="hotel">
    
                            <div class="hotel-img" style="">
                                            <div class="hotel-img">

                                                <img src="{{event.image}}"  class="img-fluid" style="" alt="{{event.eventName}}">
                                            </div>
                                    <div class="text-center">
                                        <h5 class="card-title" [title]="'Mode details about'+ event.eventName">{{event.eventName}}</h5>
                                        <a [routerLink]="['/detail/', eventId]" class="buy-tickets"> Details </a>
                                    
                                     </div>
    
                        
                         </div>
          
                                </div>
                        </div>
                 </div>
            </div>

</section>
